*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

body{
  background-color: tan;
  color:black;
}


/* HEADER */

.header{
  display:flex;
  justify-content: space-between;
}

.websiteName{
  margin-top:20px;
  margin-left:30px;

  width:200px;
  height:50px;
  font-size:larger;
}

.navigationBar{
  width:590px;
  background-color: rgb(211,211,211,30%);
}

.navigationItems{
  padding:5px;
  margin:30px;

  list-style-type:none;
  display:flex;
  justify-content:space-between;
}

.navigationItems li{
  padding:3px;

  font-size:1rem;
  font-weight: bold;
}

.navigationItems li:hover{
  cursor:pointer;
  background-color: rgb(161, 200, 230);
}

/* HEADER */





/* ABOUT */

.about{
  margin-top:10px;

  display:flex;
  justify-content: space-between;

  height:500px;
}

.landingContent{
  margin-right:10px;

  text-align: center;
  align-content: center;

  background-color: rgb(211,211,211,30%);
}

.aboutContent{
  font-size:xx-large;
}

.getStarted{
  margin-top:30px;
}

.getStartedButton{
  width:200px;
  height:80px;

  font-size: large;
  font-weight:bold;
  background-color: rgb(45, 161, 249);

  border-radius: 5px;
}

.getStartedButton:hover{
  cursor: pointer;
  background-color:rgb(161, 200, 230);
}

.landingImage{
  margin-left:5px;
  background-color: rgb(211,211,211,30%);
}

.aboutImage{
  width:600px;
  height:500px;

  padding:20px;

  object-fit: fill;
}

/* ABOUT */



/* Create New Blog */

.createBlog,.editBlog{
  display: flex;
  flex-direction: column;
  align-items:center;

  
  margin-top:20px;
  padding:10px;

  background-color: rgb(211,211,211,30%);
}

.createBlogLabel,.editBlogLabel{
  margin-bottom:10px;
  font-size: xx-large;
}


.blogTitleInput,.blogContentInput,.blogImageInput{
  width:800px;
  height:50px;
  margin:10px;

  display:flex;
  justify-content:space-evenly;
}

.newBlogTitleLabel,.newBlogContentLabel,.newBlogImageLabel,.editBlogTitleLabel,.editBlogContentLabel,.editBlogImageLabel{
  font-size:xx-large;
}

.newBlogTitle,.newBlogContent,.newBlogImage,.editBlogTitle,.editBlogImage,.editBlogContent{
  width:400px;
  height:50px;
}

.confirmNewBlogButton,.saveChangesButton{
  width:300px;
  height:50px;

  margin-top:10px;

  border-radius: 5px;
  border-style: groove;
  border-width: 5px;

  font-size: 30px;
  background-color: rgb(45, 161, 249);
}

.confirmNewBlogButton:hover{
  background-color: rgb(161, 200, 230);
}

.saveChangesButton:hover{
  background-color: rgb(161, 200, 230);
}


/* Create New Blog */




/*Explore Blogs*/

.options,.viewBlogs{
  width:100%;
  height:300px;

  display:flex;
  justify-content:center;
  align-items: center;
}

.viewBlogButton{
  width:300px;
  height:100px;
  background-color: rgb(45, 161, 249);

  font-size:2rem;
}

/*Explore Blogs*/





/* BLOGS */

.listOfBlogs{
  background-color:rgb(211,211,211,30%);
  margin-top:20px;

  display:flex;
  flex-direction: column;
  align-items: center;
}


.blogHeading{
  padding:30px;
  font-size:xx-large;
}

.noBlogs{
  font-size:xx-large;
  margin:20px;
}

.card{
  margin: 50px;
  width:800px;
  height:400px;

  background-color: white;

  border-style:groove;
  border-color: black;
  border-width: 5px;

  display: flex;
  align-items: center;
}

.blogImage{
  width:300px;
  height:200px;

  object-fit: fill;
}

.blogTitle{
  font-size:x-large;

  margin-left:20px;
  margin-top:20px;
}

.viewBlog{
  color: rgb(19, 179, 227);
}

.editDelete{
  width:250px;

  display:flex;
  justify-content:space-evenly;

  margin-left:20px;
  margin-top:50px;
}

.deleteButton,.editButton{
  width:100px;
  height:50px;

  margin-right:5px;

  background-color: rgb(45, 161, 249);
}

.deleteButtonImage,.editButtonImage{
  width:30px;
  height:30px;

  margin-right:5px;
}

.deleteButton:hover,.editButton:hover{
  background-color: rgb(161, 200, 230);
}

.createNewBlogButton{
  width:300px;
  height:50px;

  background-color:rgb(45, 161, 249) ;
  font-size:large;
}

/* BLOGS */

/* Detailed Blogs*/

.detailedBlog{
  display:flex;
  flex-direction: column;
  
  margin:50px;
  padding:20px;

  background-color: rgb(211,211,211,30%);
}

.imgAndContentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailedBlogImage{
  width:500px;
  height:300px;

  margin:10px;

  object-fit: fill;
}

.detailedBlogContent{
  margin:10px;
  font-size:x-large;
}

.commentInput{
  width:1000px;
  height:100px;
  font-size:x-large;
}

.addCommentButton{
  width:120px;
  height:40px;
  
  margin:20px;
  background-color: rgba(28, 235, 111, 0.867);

  border-radius:10px;
  border-width:5px;
  border-style: groove;
}

.commentContainer{
  width:500px;
  height:100px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  
}
/* Detailed Blogs*/
